<a href="https://colab.research.google.com/github/RichardTwit/App_Project_SpringBoard/blob/main/HPQ_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:

import pickle
# Load the saved model from file
with open('/content/drive/MyDrive/HPQ_Model.pkl', 'rb') as file:
    saved_model = pickle.load(file)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/RTX.csv")
df.head()

         date    volume       open       high        low      close   adjclose
0  2020-06-19  19144400  68.360001  68.360001  64.470001  64.889999  64.889999
1  2020-06-18   6431100  65.830002  67.430000  65.610001  66.879997  66.879997
2  2020-06-17   9289800  68.000000  68.199997  66.629997  66.900002  66.900002
3  2020-06-16  11523900  69.620003  70.099998  66.050003  67.820000  67.820000
4  2020-06-15  13553100  63.000000  67.760002  62.439999  67.050003  67.050003

In [ ]:

df = pd.read_csv("/content/drive/MyDrive/RTX.csv")
# Calculate Support and Resistance Levels
df['Support_Level'] = df['low'].rolling(window=20).min()

# Identify the swing highs and swing lows
df['Swing_High'] = df['high'].rolling(window=3).max()
df['Swing_Low'] = df['low'].rolling(window=3).min()

# Calculate Fibonacci levels
df['Fib_Retracement_0.382'] = df['Swing_High'] - 0.382 * (df['Swing_High'] - df['Swing_Low'])
df['Fib_Retracement_0.618'] = df['Swing_High'] - 0.618 * (df['Swing_High'] - df['Swing_Low'])

# Calculate an exponential moving average (EMA) with a span of 14 periods
df['EMA_14'] = df['close'].ewm(span=14, adjust=False).mean()

columns_to_normalize = ['volume', 'open', 'high', 'low', 'close', 'Support_Level', 'Swing_High',
       'Fib_Retracement_0.382', 'Fib_Retracement_0.618', 'EMA_14']


df[columns_to_normalize] = (df[columns_to_normalize] - df[columns_to_normalize].min()) / (df[columns_to_normalize].max() - df[columns_to_normalize].min())

#df.sort_values('date', inplace=True)


df['Price_Change'] = df['adjclose'].pct_change()

df = df.dropna()
X = df.drop(['date','Price_Change', 'adjclose', 'Swing_Low'], axis=1)
y = df['Price_Change']

In [ ]:
df

,date,volume,open,high,low,close,adjclose,Support_Level,Swing_High,Swing_Low,Fib_Retracement_0.382,Fib_Retracement_0.618,EMA_14,Price_Change
19,2020-05-22,0.102402,0.604788,0.607694,0.604195,0.606203,60.000000,0.630690,0.680393,59.330002,0.652778,0.635481,0.679233,-0.069335
20,2020-05-21,0.162532,0.583707,0.602053,0.592607,0.607221,60.099998,0.618595,0.655808,58.200001,0.633069,0.618826,0.671676,0.001667
21,2020-05-20,0.163085,0.587842,0.590568,0.587378,0.583815,57.799999,0.613136,0.607646,57.689999,0.601072,0.596954,0.661925,-0.038270
22,2020-05-19,0.227936,0.579572,0.601347,0.584404,0.585240,57.939999,0.610032,0.602003,57.400002,0.596429,0.592938,0.653669,0.002422
23,2020-05-18,0.311881,0.556978,0.586034,0.565126,0.584833,57.900002,0.589909,0.601298,55.520000,0.588692,0.580797,0.646459,-0.000690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12724,1970-01-08,0.001932,0.003496,0.003368,0.003731,0.003477,0.141476,0.002316,0.003270,0.771908,0.003450,0.003563,0.002623,-0.006329
12725,1970-01-07,0.002496,0.003595,0.003393,0.003731,0.003527,0.142377,0.002316,0.003270,0.771908,0.003450,0.003563,0.002714,0.006370
12726,1970-01-06,0.006438,0.003620,0.003418,0.003832,0.003627,0.144179,0.002316,0.003294,0.771908,0.003465,0.003573,0.002806,0.012659
12727,1970-01-05,0.003702,0.003645,0.003492,0.003882,0.003652,0.144630,0.002316,0.003369,0.771908,0.003512,0.003601,0.002889,0.003124
12728,1970-01-02,0.005473,0.003496,0.003442,0.003781,0.003677,0.145080,0.002316,0.003369,0.776825,0.003531,0.003633,0.002965,0.003116

In [ ]:
predictions = saved_model.predict(X)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
# Calculate the MSE and R-squared score using the predicted values
mse = mean_squared_error(y, predictions)
r2 = r2_score(y, predictions)

# Print the results

print("R-squared Score:", r2)
print("Mean Squared Error:", mse)

R-squared Score: -1.9254306008126516
Mean Squared Error: 0.0009253992849108817

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DIS.csv")
df.head()

,date,volume,open,high,low,close,adjclose
0,2020-07-02,10305900,115.000000,115.099998,112.000000,112.180000,112.180000
1,2020-07-01,11930900,112.820000,115.599998,112.290001,113.010002,113.010002
2,2020-06-30,10565900,111.500000,112.050003,109.930000,111.510002,111.510002
3,2020-06-29,12584300,109.000000,111.570000,108.099998,111.519997,111.519997
4,2020-06-26,15270900,110.949997,111.199997,108.019997,109.099998,109.099998

In [ ]:

df = pd.read_csv("/content/drive/MyDrive/RTX.csv")
# Calculate Support and Resistance Levels
df['Support_Level'] = df['low'].rolling(window=20).min()

# Identify the swing highs and swing lows
df['Swing_High'] = df['high'].rolling(window=3).max()
df['Swing_Low'] = df['low'].rolling(window=3).min()

# Calculate Fibonacci levels
df['Fib_Retracement_0.382'] = df['Swing_High'] - 0.382 * (df['Swing_High'] - df['Swing_Low'])
df['Fib_Retracement_0.618'] = df['Swing_High'] - 0.618 * (df['Swing_High'] - df['Swing_Low'])

# Calculate an exponential moving average (EMA) with a span of 14 periods
df['EMA_14'] = df['close'].ewm(span=14, adjust=False).mean()

columns_to_normalize = ['volume', 'open', 'high', 'low', 'close', 'Support_Level', 'Swing_High',
       'Fib_Retracement_0.382', 'Fib_Retracement_0.618', 'EMA_14']


df[columns_to_normalize] = (df[columns_to_normalize] - df[columns_to_normalize].min()) / (df[columns_to_normalize].max() - df[columns_to_normalize].min())

#df.sort_values('date', inplace=True)


df['Price_Change'] = df['adjclose'].pct_change()

df = df.dropna()
X = df.drop(['date','Price_Change', 'adjclose', 'Swing_Low'], axis=1)
y = df['Price_Change']

In [ ]:
predictions = saved_model.predict(X)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
# Calculate the MSE and R-squared score using the predicted values
mse = mean_squared_error(y, predictions)
r2 = r2_score(y, predictions)

# Print the results

print("R-squared Score:", r2)
print("Mean Squared Error:", mse)

R-squared Score: -1.9254306008126516
Mean Squared Error: 0.0009253992849108817

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DIS.csv")
df.head()

,date,volume,open,high,low,close,adjclose
0,2020-07-02,10305900,115.000000,115.099998,112.000000,112.180000,112.180000
1,2020-07-01,11930900,112.820000,115.599998,112.290001,113.010002,113.010002
2,2020-06-30,10565900,111.500000,112.050003,109.930000,111.510002,111.510002
3,2020-06-29,12584300,109.000000,111.570000,108.099998,111.519997,111.519997
4,2020-06-26,15270900,110.949997,111.199997,108.019997,109.099998,109.099998

In [ ]:

df = pd.read_csv("/content/drive/MyDrive/Download Data - STOCK_US_XNYS_HPQ.csv")

df = df.dropna()

# Create a dictionary mapping old column names to new column names
column_mapping = {'Low': 'low',
                  'High': 'high',
                  'Open': 'open',
                  'Close' : 'close',
                  'Volume' :'volume',
                  'Date' : 'date'}

# Use the 'rename()' function to replace the column names
df = df.rename(columns=column_mapping)

df['volume']=  df['volume'].str.replace(',','')
df['volume']=  df['volume'].astype('float64')


# Calculate Support and Resistance Levels
df['Support_Level'] = df['low'].rolling(window=20).min()

# Identify the swing highs and swing lows
df['Swing_High'] = df['high'].rolling(window=3).max()
df['Swing_Low'] = df['low'].rolling(window=3).min()

# Calculate Fibonacci levels
df['Fib_Retracement_0.382'] = df['Swing_High'] - 0.382 * (df['Swing_High'] - df['Swing_Low'])
df['Fib_Retracement_0.618'] = df['Swing_High'] - 0.618 * (df['Swing_High'] - df['Swing_Low'])

# Calculate an exponential moving average (EMA) with a span of 14 periods
df['EMA_14'] = df['close'].ewm(span=14, adjust=False).mean()

columns_to_normalize = ['volume', 'open', 'high', 'low', 'close', 'Support_Level', 'Swing_High',
       'Fib_Retracement_0.382', 'Fib_Retracement_0.618', 'EMA_14']


df[columns_to_normalize] = (df[columns_to_normalize] - df[columns_to_normalize].min()) / (df[columns_to_normalize].max() - df[columns_to_normalize].min())

#df.sort_values('date', inplace=True)


df['Price_Change'] = df['close'].pct_change()


df = df.dropna()


X = df.drop(['date','Price_Change', 'Swing_Low'], axis=1)
X = X.reindex(columns=columns_to_normalize)
y = df['Price_Change']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 19 to 250
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   232 non-null    object
 1   open                   232 non-null    float64
 2   high                   232 non-null    float64
 3   low                    232 non-null    float64
 4   close                  232 non-null    float64
 5   volume                 232 non-null    float64
 6   Support_Level          232 non-null    float64
 7   Swing_High             232 non-null    float64
 8   Swing_Low              232 non-null    float64
 9   Fib_Retracement_0.382  232 non-null    float64
 10  Fib_Retracement_0.618  232 non-null    float64
 11  EMA_14                 232 non-null    float64
 12  Price_Change           232 non-null    float64
dtypes: float64(12), object(1)
memory usage: 25.4+ KB

In [ ]:
predictions = saved_model.predict(X)

In [ ]:
X

,volume,open,high,low,close,Support_Level,Swing_High,Fib_Retracement_0.382,Fib_Retracement_0.618,EMA_14
19,0.188650,0.600575,0.533981,0.507843,0.436433,0.624843,0.513185,0.498436,0.489066,0.588748
20,0.187138,0.510536,0.560194,0.533333,0.555977,0.624843,0.540568,0.515652,0.499823,0.596578
21,0.336964,0.486590,0.478641,0.463725,0.448767,0.593476,0.540568,0.505799,0.483709,0.583862
22,0.755639,0.534483,0.509709,0.455882,0.414611,0.583438,0.540568,0.502646,0.478553,0.566629
23,0.195773,0.711686,0.649515,0.664706,0.592030,0.583438,0.633874,0.561309,0.515206,0.583966
...,...,...,...,...,...,...,...,...,...,...
246,0.065222,0.705939,0.661165,0.705882,0.636622,0.775408,0.657201,0.646132,0.639100,0.836474
247,0.085235,0.740421,0.719417,0.733333,0.703985,0.775408,0.706897,0.699054,0.694072,0.838196
248,0.097378,0.714559,0.677670,0.723529,0.672676,0.775408,0.706897,0.707726,0.708252,0.833994
249,0.133016,0.704023,0.648544,0.654902,0.614801,0.775408,0.706897,0.687230,0.674736,0.819824
250,0.290276,0.643678,0.634951,0.581373,0.649905,0.744040,0.663286,0.630251,0.609263,0.813929

In [ ]:
predictions

array([-3.17822263e-01,  1.16074620e-01, -9.54507293e-02, -2.48081645e-01,
       -1.65666641e-01, -1.94788780e-02, -1.47682619e-02, -1.62717685e-01,
       -6.84972015e-02, -4.16614565e-02, -1.47063570e-01,  5.26824789e-03,
       -3.77444012e-02, -9.99568719e-02,  3.86413775e-02, -2.28799654e-01,
       -1.74203075e-01, -2.26386769e-01, -4.95812118e-02, -1.01740002e-01,
       -1.96613249e-02, -1.53011852e-01, -1.57386384e-01, -1.40765667e-01,
       -7.29558028e-02, -1.16200617e-01,  4.74548003e-02, -1.45045481e-01,
       -1.19786190e-01, -1.05821850e-01, -1.36158626e-01, -1.34418796e-01,
       -1.43716687e-01, -5.56879012e-02, -3.79614904e-02, -9.70095099e-02,
       -6.17454220e-02, -1.92200755e-01, -1.03987981e-01,  1.63299228e-02,
       -1.11506687e-01, -9.90492653e-02, -1.80910091e-01,  1.37587220e-02,
       -1.97016299e-02, -5.41510692e-02, -6.93464219e-02, -1.97633904e-01,
       -1.77252969e-01, -1.26611632e-01, -1.98453285e-01, -3.43080957e-01,
       -1.22655038e-01, -1.31739294e-01, -8.79201697e-02,  6.51251853e-02,
        6.85900636e-02, -1.65782790e-01, -1.00460244e-01, -3.01245902e-01,
       -2.65992581e-01, -1.63340406e-02, -3.38776292e-01, -2.17378592e-01,
       -2.04345614e-01, -1.09983116e-01, -3.68273713e-01, -9.51430075e-02,
       -1.65595606e-01, -9.30419095e-02, -1.11464945e-01, -1.04860933e-01,
       -2.56575531e-01, -9.54040348e-02, -9.38952046e-02, -1.50255515e-02,
       -8.63322134e-02, -5.37361600e-03, -3.06979939e-04, -1.65498346e-01,
       -1.37967660e-01, -3.28997878e-02, -1.87103489e-01, -5.73653884e-02,
        4.75927200e-02,  7.39933040e-02, -2.73145194e-02, -1.30045345e-01,
        6.52459217e-03, -1.28483260e-01,  4.21211828e-02, -1.61492316e-01,
        4.78142870e-03,  9.50776201e-02, -3.00001103e-01, -2.10692724e-01,
       -2.66358865e-01, -2.73070125e-01, -2.37850112e-01, -1.99553317e-01,
       -1.27842404e-02, -1.18393129e-01,  9.70357734e-02, -1.32854410e-01,
       -1.96050317e-01, -3.42265263e-01, -2.05553424e-01, -1.60076744e-01,
       -5.23326440e-01, -1.13905807e-01, -2.52688224e-01, -9.23066563e-02,
       -3.59844077e-01, -2.63882546e-01, -4.36537510e-01, -2.28465103e-01,
       -5.73637635e-01, -2.15660824e-01, -2.92890742e-01,  6.20089988e-02,
       -1.81160756e-01, -1.54099365e-02, -2.15590956e-01, -3.48348764e-01,
       -1.80367440e-01, -8.97259703e-02, -1.66173926e-01,  1.00792388e-01,
       -2.32632569e-01, -2.34541798e-01, -3.20306429e-02, -2.27320236e-02,
       -1.51499929e-01, -1.52693287e-01, -2.40042077e-02,  2.54211143e-03,
       -3.05213020e-01, -1.40185739e-01, -4.02014778e-02,  1.41107367e-01,
       -7.20223014e-02, -3.12470708e-01, -1.60508667e-01, -2.84848270e-02,
        1.06457988e-01, -2.84287946e-01, -4.61508931e-01, -2.11258964e-01,
       -2.36838855e-01,  8.55906887e-02, -3.72278864e-01, -4.45949179e-02,
        5.42540661e-02, -2.07644716e-01,  3.32449812e-01, -4.19413903e-01,
       -2.34377100e-01, -1.15072419e+00, -6.46132836e-01, -1.05974851e+00,
        1.23113766e+00, -7.39981692e-01, -8.52186546e-01, -1.08747573e+00,
       -1.50300325e+00, -5.69610193e-01, -6.87434883e-03, -2.19134975e-01,
        1.23707884e-02, -5.46947399e-01, -7.87075251e-01,  6.31648732e-02,
       -1.18074971e+00, -8.28076249e-01, -7.39305842e-01, -9.24124152e-01,
       -1.01165781e+00, -5.51739748e-01, -3.82779375e-01, -1.41204792e-01,
       -2.74793994e-01, -3.26605565e-01, -4.80486418e-01, -1.91577285e-01,
       -5.22363208e-02, -1.60438027e-01, -1.51789350e-01, -3.62362444e-01,
       -4.84128597e-01, -2.59869080e-01, -2.86412709e-01, -1.32433018e-01,
       -2.50313373e-02, -8.57651685e-02,  4.31979070e-02, -1.72594176e-02,
       -6.32546069e-03, -4.86575899e-02, -4.86634426e-02, -2.16316310e-03,
       -3.80190615e-02, -2.13736582e-02, -3.65235272e-02, -2.75538859e-02,
       -8.40045455e-03,  3.29346296e-02, -1.10555630e-01, -9.32275543e-02,
        2.96158871e-02, -2.75818206e-02, -9.08321084e-02, -1.49996308e-01,
        8.98997770e-03, -2.57853247e-02, -3.30562754e-02, -7.76956047e-03,
       -1.38755966e-01, -8.38708771e-02, -1.55867228e-01,  7.97768353e-03,
       -5.93749653e-02,  5.61405947e-02, -1.12545935e-01, -4.67483076e-02,
        5.03994074e-02, -8.79849178e-03, -6.48518378e-02, -8.60157410e-02,
       -4.20622891e-02, -4.44618070e-02, -1.06741806e-01,  5.93086134e-02])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
# Calculate the MSE and R-squared score using the predicted values
mse = mean_squared_error(y, predictions)
r2 = r2_score(y, predictions)

# Print the results

print("R-squared Score:", r2)
print("Mean Squared Error:", mse)

ValueError: ignored

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/HPQ.csv")
df.head()

         date    volume       open       high    low      close   adjclose
0  2020-07-02  10157300  17.240000  17.600000  16.99  17.070000  17.070000
1  2020-07-01  11761700  17.410000  17.590000  16.92  17.000000  17.000000
2  2020-06-30  12307100  17.110001  17.469999  16.98  17.430000  17.430000
3  2020-06-29  12255900  16.700001  17.280001  16.48  17.129999  17.129999
4  2020-06-26  30227400  16.290001  16.760000  16.08  16.610001  16.610001

In [ ]:

df = pd.read_csv("/content/drive/MyDrive/HPQ.csv")
# Calculate Support and Resistance Levels
df['Support_Level'] = df['low'].rolling(window=20).min()

# Identify the swing highs and swing lows
df['Swing_High'] = df['high'].rolling(window=3).max()
df['Swing_Low'] = df['low'].rolling(window=3).min()

# Calculate Fibonacci levels
df['Fib_Retracement_0.382'] = df['Swing_High'] - 0.382 * (df['Swing_High'] - df['Swing_Low'])
df['Fib_Retracement_0.618'] = df['Swing_High'] - 0.618 * (df['Swing_High'] - df['Swing_Low'])

# Calculate an exponential moving average (EMA) with a span of 14 periods
df['EMA_14'] = df['close'].ewm(span=14, adjust=False).mean()

columns_to_normalize = ['volume', 'open', 'high', 'low', 'close', 'Support_Level', 'Swing_High',
       'Fib_Retracement_0.382', 'Fib_Retracement_0.618', 'EMA_14']


df[columns_to_normalize] = (df[columns_to_normalize] - df[columns_to_normalize].min()) / (df[columns_to_normalize].max() - df[columns_to_normalize].min())

#df.sort_values('date', inplace=True)


df['Price_Change'] = df['adjclose'].pct_change()

df = df.dropna()
X = df.drop(['date','Price_Change', 'adjclose', 'Swing_Low'], axis=1)
y = df['Price_Change']

In [ ]:
predictions = saved_model.predict(X)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
# Calculate the MSE and R-squared score using the predicted values
mse = mean_squared_error(y, predictions)
r2 = r2_score(y, predictions)

# Print the results

print("R-squared Score:", r2)
print("Mean Squared Error:", mse)

R-squared Score: -0.6646279070083267
Mean Squared Error: 0.0008969315637373527